# Don't ask
*star.svg
*starg.svg

# Fuck off you ain't getting the answers from here hehehe :)
answers/*.json

# Include an example because I'm nice.
!answers/freepoints.json


# Don't include user data because it's not important.
# These files should get added automatically and really shouldn't need to be changed by hand.
people/*.csv
leaderboard.json
allAnswers.log

# Answer specific php files
# (don't worry they literally just contain an if/else statement and 2 echo's)
dumbQuestion.php
dumbquestion.php

# Error logging file
err.log