* {
    box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

#questions > .completed {
    background-color: rgb(232, 251, 255);
    border: 1.5px dashed;
}

#questions > div {
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--brighterBlue);
    padding: 20px 30px;
    padding-right: 10px;
    border: black solid 3px;
    display: block;
    min-width: 500px;
    max-width: 1000px;
    position: relative;
}

li {
    margin-bottom: 15px;
}

.unuglify {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.points {
    float: right;
    /* text-align: right; */
    margin-left: 50px;
}

.points b {
    position: relative;
    right: 30px;
}

/* Quotes */
#questions q {
    font-style: italic;
    font-size: large;
    color: #222;
}

#questions img {
    height: 200px;
}

.answered {
    text-decoration: line-through;
    font-style: italic;
    color: #444;
}

#questions > div > div {
    margin-bottom: 30px;
}

#questions > div > form > input[type=text] {
    margin-left: 10px;
}

.leaderboard {
    font-size: 40px;
    margin-left: auto;
    text-align: center;
}

.leaderboard .top {
    display: inline-block;
    margin-left: auto;
    background-color: var(--button);
    border: 3px black solid;
    min-width: 35vw;
    margin-bottom: 6px;
}

.leaderboard b:nth-child(1) {
    float: left;
    padding: 0 8px;
}

.leaderboard b:nth-child(2) {
    float: right;
    padding: 0 8px;
    font-weight: normal;
}

.leaderboard .notop span {
    width: 35vw;
    border: 3px black solid;
    display: inline-block;
    background-color: var(--lessButton);
}

.yippee {
    display: inline-block;
    position: absolute;
    background-color: #90ffa8;
    animation: woo 1s;
    animation-delay: 0.5s;
    width: 100px;
    height: 100px;
    right:200%;
    bottom: 30%;

    border: rgb(0, 0, 0) 10px solid;
    border-radius: 10px;
}

.yippee.alt {
    animation-name: wee;
}

@keyframes woo {
    from {
        right: 50%;
        rotate: 0deg;
        bottom: 30%;
    }
    to {
        right: 150%;
        rotate: 360deg;
        bottom: 60%;
    }
}

@keyframes wee {
    from {
        left: 50%;
        rotate: 0deg;
        bottom: 30%;
    }
    to {
        left: 150%;
        rotate: -360deg;
        bottom: 60%;
    }
}