* {
    box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

#questions > div {
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--brighterBlue);
    padding: 20px 30px;
    padding-right: 10px;
    border: black solid 3px;
    display: block;
    min-width: 500px;
    max-width: 1000px;
}

.unuglify {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.points {
    float: right;
    /* text-align: right; */
    margin-left: 50px;
}

.points b {
    position: relative;
    right: 30px;
}

/* Quotes */
#questions q {
    font-style: italic;
    font-size: large;
    color: #222;
}

#questions img {
    height: 200px;
}

.answered {
    text-decoration: line-through;
    font-style: italic;
    color: #444;
}

#questions > div > div {
    margin-bottom: 30px;
}

#questions > div > form > input[type=text] {
    margin-left: 10px;
}